.error-container {
  padding: var(--layout-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  height: 100%;

  .error-image {
    width: 100%;
    max-width: 48rem;
  }

  .error-title {
    text-align: center;

    > small {
      display: block;
      font-size: var(--text-heading-5-font-size);
      color: var(--text-hint-color);
    }
  }
}
