@use "../../../styles/themes" as *;
@use "@nebular/theme/styles/global/breakpoints";

@include nb-install-component() {
  .header-row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .logo-container {
      display: flex;
      align-items: center;
      width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});

      img {
        height: calc(#{nb-theme(header-height)} - #{nb-theme(header-padding)});
      }
    }

    nb-action {
      height: auto;
      display: flex;
      align-items: center;
    }

    .header-container {
      position: relative;
      display: flex;
      align-items: center;
      width: auto;

      .sidebar-toggle {
        @include nb-ltr(padding-right, 1.25rem);
        @include nb-rtl(padding-left, 1.25rem);
        text-decoration: none !important;
        color: nb-theme(text-hint-color);

        nb-icon {
          font-size: 1.75rem;
        }
      }

      .logo {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
        @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
        white-space: nowrap;
        text-decoration: none;

        > img {
          max-width: calc(#{nb-theme(sidebar-width)} / 3);
          max-height: calc(#{nb-theme(header-height)} - #{nb-theme(header-padding)} * 2);
          padding: 0 1rem;
        }
      }
    }

    @include breakpoints.media-breakpoint-down(sm) {
      .user-action {
        border: none;
        padding: 0;
      }
    }

    @include breakpoints.media-breakpoint-down(is) {
      nb-select {
        display: none;
      }
    }

  }
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
